body, h1, p, button {
    margin: 0;
    padding: 0;
}

h1,p {
    text-shadow: 3px 3px 5px #333;
    color: black;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}

body {
    font-family:'Creepster';
    /* Utilisation d'une image de fond pour la forêt */
    background-image: url('https://w.forfun.com/fetch/b7/b780c88e996e0cf72bd3a7847fd06258.jpeg?w=1200&r=0.5625'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    overflow-x: hidden; /* Cache la barre de défilement horizontale si nécessaire */
    display: flex;
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
    position: relative; /* Position relative pour les gouttes de pluie */
}

.contenu {
    text-align: center;
    position: relative; /* Position relative pour les éléments à l'intérieur */
    z-index: 1; /* Empilement au-dessus des gouttes de pluie */
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: white; 
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1.3s ease;
    font-family:'Creepster';
}

button:hover {
    background-color: black; 
}


/*animation de fond*/
.pluie {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: url(rain.png);
    animation: pluie .3s linear infinite;
}

.pluie::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: foudre .9s linear infinite;
    opacity: 0;
}

/* animation pluie */
@keyframes pluie {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 20% 100%;
    }
}

/*animation foudre*/
@keyframes foudre {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    11% {
        opacity: 1;
    }
    14% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    21% {
        opacity: 1;
    }
    24% {
        opacity: 0;
    }
    104% {
        opacity: 0;
    }
} 
